<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品管理｜第四週 - Vue 元件化</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<style>
    .form-label {
        display: block;
        font-weight: 600;
        margin-bottom: 0;
    }

    .btn:focus {
        box-shadow: none
    }

    img.img-box {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    /* .img-box {
        width: 75px;
        height: 75px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-box img {
        height: 110%;
        overflow: hidden;
    } */

    .table {
        table-layout: fixed;
    }

    .table-responsive thead th {
        word-break: keep-all;
    }

    .file-img {
        width: 120px;
        height: 120px;
        cursor: pointer;
        border: 1px dashed #ced4da;
    }

    .file-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .file-img:hover {
        border-color: #0d6efd;
    }
</style>

<body>
    <div id="app">
        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="mb-0 h4 fw-bold">產品管理</h1>
                <button type="button" class="btn btn-primary" @click="openModal('add')">新增產品</button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col" width="200px">產品名稱</th>
                            <th scope="col" width="120px">分類</th>
                            <th scope="col" width="120px">廣告標籤</th>
                            <th scope="col" width="120px">原價</th>
                            <th scope="col" width="120px">售價</th>
                            <th scope="col" width="120px">是否啟用</th>
                            <th scope="col" width="150px">功能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products.data" :key="product.id">
                            <th>
                                <div class="d-flex align-items-center">
                                    <img :src="product.imageUrl" :alt="`${product.category} - ${product.title}`"
                                        class="img-box flex-shrink-0 rounded border me-2">
                                    <h4 class="h6 mb-0 text-truncate fw-bold">{{ product.title }}</h4>
                                </div>
                            </th>
                            <td scope="row" class="text-truncate">{{ product.category }}</td>
                            <td class="text-truncate">{{ product.AD_type ? product.AD_type : '未分類' }}</td>
                            <td class="text-end">${{ product.origin_price }}</td>
                            <td class="text-end">${{ product.price }}</td>
                            <td>
                                <strong :class="[product.is_enabled ? 'text-success' : 'text-danger']">{{
                                    getIs_enabledLabelName(product.is_enabled) }}</strong>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    @click="openModal('edit', product)">編輯</button>
                                <button type="button" class="btn btn-outline-danger btn-sm ms-1"
                                    @click="openModal('del', product)">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col" colspan="7" class="text-start">產品數量：{{ productTotal }} 筆</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <pagination :pagination="products.pagination" v-if="products.pagination" @get-products="getProducts">
            </pagination>
        </div>

        <!-- modal 刪除 -->
        <del-product-modal :product="currentProduct" @get-products="getProducts"></del-product-modal>

        <!-- modal 新增或修改 -->
        <product-modal :product="currentProduct" @get-products="getProducts"></product-modal>
    </div>

    <script src="https://kit.fontawesome.com/e977eaa2d8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script type="module">
    import { url, path } from '../data/data.js';
    import { formsSchema } from '../data/forms-schema.js';
    import { swalWithBootstrapButtons } from '../data/sweetalert2.js';
    import pagination from './components/pagination.js';
    import productModal from './components/product-modal.js';
    import delProductModal from './components/del-product-modal.js';

    const { createApp } = Vue;

    const app = Vue.createApp({
        data() {
            return {
                formsSchema,
                products: {},
                currentProduct: {}
            }
        },
        mounted() {
            this.checkUser();
        },
        computed: {
            productTotal() {
                return this.products.data ? Object.keys(this.products.data).length : 0;
            }
        },
        methods: {
            checkUser() {
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)ella-diving-token\s*\=\s*([^;]*).*$)|^.*$/, '$1');
                axios.defaults.headers.common['Authorization'] = token;
                axios.post(`${url}/api/user/check`)
                    .then(res => { this.getProducts() })
                    .catch(error => {
                        console.dir(error);
                        location.href = './login.html';
                    });
            },
            getProducts(page) {
                if (!page) { page = this.products.pagination ? this.products.pagination.current_page : 1 }
                axios.get(`${url}/api/${path}/admin/products?page=${page}`)
                    .then(res => {
                        const { products, pagination } = res.data;
                        this.products = {
                            data: products,
                            pagination
                        };
                    })
                    .catch(error => {
                        console.dir(error);
                        swalWithBootstrapButtons.fire({
                            icon: 'error',
                            title: error.response.data.message
                        });
                    });
            },
            openModal(method, product) {
                this.currentProduct = product;
                if (method === 'del') {
                    delProductModal.methods.openModal();
                } else {
                    productModal.methods.openModal();
                }
            },
            getIs_enabledLabelName(is_enabled) {
                const find = formsSchema.product_is_enabled.options.find(option => option.value === is_enabled);
                return find ? find.label : '';
            }
        },
        // 練習區域元件
        components: {
            productModal,
            delProductModal
        }
    })

    // 練習全域元件
    app.component('pagination', pagination);
    app.mount('#app');
</script>

</html>