<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品管理｜第四週 - Vue 元件化</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<style>
    .form-label {
        display: block;
        font-weight: 600;
        margin-bottom: 0;
    }

    .btn:focus {
        box-shadow: none
    }

    .img-box {
        width: 75px;
        height: 75px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-box img {
        height: 110%;
        overflow: hidden;
    }

    .table {
        table-layout: fixed;
    }

    .table-responsive thead th {
        word-break: keep-all;
    }
</style>

<body>
    <div id="app">
        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="mb-0 h4 fw-bold">產品管理</h1>
                <button type="button" class="btn btn-primary" @click="openModal('add')">新增產品</button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col" width="200px">產品名稱</th>
                            <th scope="col" width="120px">分類</th>
                            <th scope="col" width="120px">原價</th>
                            <th scope="col" width="120px">售價</th>
                            <th scope="col" width="120px">是否啟用</th>
                            <th scope="col" width="150px">功能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in products.data" :key="product.id">
                            <th>
                                <div class="d-flex align-items-center">
                                    <div class="img-box me-2 rounded border flex-shrink-0">
                                        <img :src="product.imageUrl" :alt="`${product.category} - ${product.title}`">
                                    </div>
                                    <h4 class="h6 mb-0 text-truncate fw-bold">{{ product.title }}</h4>
                                </div>
                            </th>
                            <td scope="row" class="text-truncate">{{ product.category }}</td>
                            <td class="text-end">${{ product.origin_price }}</td>
                            <td class="text-end">${{ product.price }}</td>
                            <td>
                                <strong :class="[product.is_enabled ? 'text-success' : 'text-danger']">{{
                                    getIs_enabledLabelName(product.is_enabled) }}</strong>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm"
                                    @click="openModal('edit', product)">編輯</button>
                                <button type="button" class="btn btn-outline-danger btn-sm ms-1"
                                    @click="openModal('del', product)">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col" colspan="6" class="text-start">產品數量：{{ productTotal }} 筆</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <pagination :pagination="products.pagination" v-if="products.pagination" @get-products="getProducts">
            </pagination>
        </div>

        <!-- modal 刪除 -->
        <del-product-modal :product="currentProduct" @get-products="getProducts"></del-product-modal>

        <!-- modal 新增或修改 -->
        <product-modal :product="currentProduct" @get-products="getProducts"></product-modal>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script type="module">
    import { url, path } from '../data/data.js';
    import { formsSchema } from '../data/forms-schema.js';
    import { swalWithBootstrapButtons } from '../data/sweetalert2.js';
    import pagination from './components/pagination.js';
    import productModal from './components/product-modal.js';
    import delProductModal from './components/del-product-modal.js';

    const { createApp } = Vue;

    //let productModal = null;
    //let delProductModal = null;


    const app = Vue.createApp({
        data() {
            return {
                formsSchema,
                products: {},
                initCurrentProduct: {},
                currentProduct: {},
                isLoading: false,
                isInputErr: {},
                inputHasErr: false,
                isInputChangeValue: false
            }
        },
        mounted() {
            //this.defaultCurrentProduct();
            this.checkUser();
            //productModal = this.createModal('productModal');
            //delProductModal = this.createModal('delProductModal');
        },
        computed: {
            productTotal() {
                return this.products.data ? Object.keys(this.products.data).length : 0;
            }
        },
        methods: {
            defaultCurrentProduct() {
                const timestamp = this.timestamp();
                this.currentProduct = {
                    title: '',
                    category: '',
                    origin_price: null,
                    price: null,
                    unit: '',
                    description: '',
                    content: '',
                    imageUrl: '',
                    imagesUrl: {
                        [timestamp]: ''
                    },
                    is_enabled: 1
                };
            },
            checkUser() {
                const token = document.cookie.replace(/(?:(?:^|.*;\s*)ella-diving-token\s*\=\s*([^;]*).*$)|^.*$/, '$1');
                axios.defaults.headers.common['Authorization'] = token;
                axios.post(`${url}/api/user/check`)
                    .then(res => {
                        this.getProducts();
                    })
                    .catch(error => {
                        console.dir(error);
                        location.href = './login.html';
                    });
            },
            getProducts(page) {
                if (!page) { page = this.products.pagination ? this.products.pagination.current_page : 1 }

                axios.get(`${url}/api/${path}/admin/products?page=${page}`)
                    .then(res => {
                        const { products, pagination } = res.data;
                        this.products = {
                            data: products,
                            pagination
                        };
                    })
                    .catch(error => {
                        console.dir(error);
                        swalWithBootstrapButtons.fire({
                            icon: 'error',
                            title: error.response.data.message
                        });
                    });
            },
            addOrEditProduct(id) {
                this.isLoading = true;
                this.currentProduct.imagesUrl = Object.values(this.currentProduct.imagesUrl).filter(value => value);
                const data = { data: this.currentProduct };
                if (!id) {
                    axios.post(`${url}/api/${path}/admin/product`, data)
                        .then(res => {
                            this.closeModal('add', 'success', res.data.message);
                        })
                        .catch(error => {
                            console.dir(error);
                            this.closeModal('add', 'error', error.response.data.message);
                        });
                } else {
                    axios.put(`${url}/api/${path}/admin/product/${id}`, data)
                        .then(res => {
                            this.closeModal('edit', 'success', res.data.message);
                        })
                        .catch(error => {
                            console.dir(error);
                            this.closeModal('edit', 'error', error.response.data.message);
                        });
                }
            },
            delProduct(id) {
                this.isLoading = true;
                axios.delete(`${url}/api/${path}/admin/product/${id}`)
                    .then(res => {
                        this.closeModal('del', 'success', res.data.message);
                    })
                    .catch(error => {
                        console.dir(error);
                        this.closeModal('del', 'error', error.response.data.message);
                    });
            },
            // createModal(name) {
            //     return new bootstrap.Modal(document.getElementById(name), {
            //         keyboard: false
            //     });
            // },
            openModal(method, product) {
                console.log(method)
                this.currentProduct = product;
                if (method === 'del') {
                    delProductModal.methods.openModal();
                } else {
                    productModal.methods.openModal();
                }

                // this.defaultCurrentProduct();

                // if (product) {
                //     this.currentProduct = { ...product };
                //     if (!this.currentProduct.imagesUrl) {
                //         const timestamp = this.timestamp();
                //         this.currentProduct.imagesUrl = { timestamp: '' }
                //     } else {
                //         this.currentProduct.imagesUrl = product.imagesUrl.reduce((accumulator, currentValue, currentIndex) => {
                //             accumulator[currentIndex] = currentValue;
                //             return accumulator;
                //         }, {});
                //     }

                // }

                // this.initCurrentProduct = JSON.parse(JSON.stringify(this.currentProduct));

                // if (method === 'del') {
                //     delProductModal.show();
                // } else {
                //     productModal.show();
                // }
            },
            // closeModal(method, state, message) {
            //     this.isLoading = false;
            //     let title = '';
            //     if (method === 'del') {
            //         delProductModal.hide();
            //         title = '刪除';
            //     } else {
            //         productModal.hide();
            //         title = method === 'add' ? '新增' : '編輯';
            //     }

            //     this.getProducts();
            //     setTimeout(() => {
            //         swalWithBootstrapButtons.fire({
            //             icon: state,
            //             title: `${title}${state === 'success' ? '成功' : '失敗'}`,
            //             text: message
            //         });
            //     }, 500);
            // },
            updateImagesUrl(method, imageUrl) {
                if (method === 'del') {
                    if (this.currentProduct.imagesUrl.hasOwnProperty(imageUrl)) {
                        delete this.currentProduct.imagesUrl[imageUrl];
                        delete this.isInputErr.imagesUrl[imageUrl];
                    }
                } else if (method === 'add') {
                    const timestamp = this.timestamp();
                    this.currentProduct.imagesUrl[timestamp] = '';
                }
            },
            getIsInputChangeValue() {
                const keys = Object.keys(this.currentProduct);
                this.isInputChangeValue = keys.some(key => {
                    if (this.currentProduct[key] && typeof this.currentProduct[key] === 'object') {
                        return Object.keys(this.currentProduct[key]).some(childKey => this.currentProduct[key][childKey] &&
                            this.currentProduct[key][childKey] !== this.initCurrentProduct[key][childKey]);
                    } else {
                        return this.currentProduct[key] !== this.initCurrentProduct[key];
                    }
                });
            },
            getIs_enabledLabelName(is_enabled) {
                const find = formsSchema.product_is_enabled.options.find(option => option.value === is_enabled);
                return find ? find.label : '';
            },
            timestamp() {
                return new Date().getTime();
            }
        },
        // 練習區域元件
        components: {
            productModal,
            delProductModal
        }
    })

    // 練習全域元件
    app.component('pagination', pagination);
    app.mount('#app');
</script>

</html>