<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城｜第五週 - 進階語法介紹</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- vue loading -->
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/css/index.min.css" rel="stylesheet">
</head>

<style>
    .form-label {
        display: block;
        font-weight: 600;
        margin-bottom: 0;
    }

    .btn:focus {
        box-shadow: none
    }

    img.img-box {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .table {
        table-layout: fixed;
    }

    .table-responsive thead th {
        word-break: keep-all;
    }

    .file-img {
        width: 120px;
        height: 120px;
        cursor: pointer;
        border: 1px dashed #ced4da;
    }

    .file-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .file-img:hover {
        border-color: #0d6efd;
    }

    .cart-items {
        overflow-y: auto;
    }

    .white-space-pre-wrap {
        white-space: pre-wrap;
    }

    ;
</style>

<body>
    <div class="py-5" id="app">
        <loading v-model:active="isLoading"></loading>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div v-for="item in handleProducts" :key="item.category" class="mb-5">
                        <h1 class="h5 fw-bold bg-light px-2 py-3">{{ item.category }}</h1>
                        <div class="table-responsive">
                            <table class="table table-hover text-center align-middle">
                                <tbody>
                                    <tr v-for="product in item.products" :key="product.id">
                                        <th width="300px">
                                            <div class="d-flex align-items-center">
                                                <img :src="product.imageUrl"
                                                    :alt="`${product.category} - ${product.title}`"
                                                    class="img-box flex-shrink-0 rounded border me-2">
                                                <h4 class="h6 mb-0 fw-bold text-start">{{ product.title }}</h4>
                                            </div>
                                        </th>
                                        <td width="80px" class="text-end text-danger fw-bold">
                                            ${{ product.price }}<small class="d-block text-black-50"
                                                v-if="getHowPriceLess(product.origin_price, product.price)">現省 ${{
                                                getHowPriceLess(product.origin_price, product.price) }}</small>
                                        </td>
                                        <td width="130px">
                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                @click="openProductModal(product)">產品詳情</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm ms-1"
                                                @click="addCart(product.id)">加入購物車</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 position-sticky h-100" style="top: 48px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3 mb-0 d-flex align-items-center">我的購物車
                                <button type="button" class="ms-auto btn btn-outline-danger btn-sm"
                                    :disabled="!cart.carts?.length" @click="delCart()">清空購物車</button>
                            </h5>
                            <p class="text-muted text-center mb-0 py-3" v-if="!cart.carts?.length">購物車是空的<br />立即選購喜愛的產品
                            </p>
                            <div class="d-flex flex-column" v-else>
                                <ul class="list-group list-group-flush bg-transparent overflow-auto"
                                    :style="cartItemsMaxHeight">
                                    <li class="list-group-item py-3" v-for="(cartItem) in cart.carts"
                                        :key="cartItem.id">
                                        <div class="row align-items-center">
                                            <div class="col-7 d-flex align-items-center">
                                                <button type="button" class="btn btn-link text-black-50 ps-0"><i
                                                        class="fa-solid fa-trash-can"
                                                        @click="delCart(cartItem.id)"></i></button>
                                                <h3 class="h6 mb-0 fw-bold">{{ cartItem.product.title }}</h3>
                                            </div>
                                            <div class="col-auto d-flex align-items-center">
                                                <select class="form-select form-select-sm me-1" v-model="cartItem.qty"
                                                    @change="changeCartItem(cartItem)">
                                                    <option v-for="i in 20" :key="i" :value="i">{{ i }}</option>
                                                </select>
                                                {{ cartItem.product.unit }}
                                            </div>
                                            <div class="col text-end text-danger fw-bold">$ {{ cartItem.final_total
                                                }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="p-3 pb-0 mt-auto border-top d-flex align-items-center text-black-50">{{
                                    `共 ${cart.carts.length} 筆` }}<strong class="ms-auto text-danger">總計 ${{
                                        cart.final_total }}</strong></div>
                                <button class="btn btn-primary w-100 mt-3" type="button" @click="toggleBuyFormCollapse"
                                    v-if="!showBuyFormCollapse">立即結帳</button>
                            </div>
                        </div>
                        <div class="collapse card-footer py-3" ref="buyFormCollapse">
                            <buy-form @get-cart="getCart(); toggleBuyFormCollapse()"></buy-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 產品 modal -->
        <product-modal :product="currentProduct" :get-how-price-less="getHowPriceLess" :add-cart="addCart"
            ref="childProductModal"></product-modal>
    </div>
</body>
<script src="https://kit.fontawesome.com/e977eaa2d8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- VeeValiadation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>
<!-- vue loading -->
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/index.min.js"></script>

<script type="module">
    import { url, path } from '../data/data.js';
    import { swalWithBootstrapButtons, swalToast } from '../data/sweetalert2.js';
    import productModal from './components/product-modal.js';
    import buyForm from './components/buy-form.js';

    const { createApp } = Vue;
    let buyFormCollapse = null;

    const app = createApp({
        data() {
            return {
                isLoading: false,
                products: [],
                cart: {},
                currentProduct: {},
                showBuyFormCollapse: false,
                cartItemsMaxHeight: {
                    maxHeight: '80vh'
                }
            }
        },
        components: {
            productModal,
            buyForm
        },
        computed: {
            handleProducts() {
                const newProducts = this.products.reduce((accumulator, currentValue) => {
                    const findCategory = accumulator.find(item => item.category === currentValue.category);

                    if (!findCategory) {
                        const addCategory = {
                            category: currentValue.category,
                            products: []
                        };

                        addCategory.products.push(currentValue)
                        accumulator.push(addCategory);
                    } else {
                        findCategory.products.push(currentValue);
                    }

                    return accumulator;
                }, []);

                return newProducts;
            }
        },
        mounted() {
            buyFormCollapse = new bootstrap.Collapse(this.$refs.buyFormCollapse, { toggle: false });
            this.getProducts();
            this.getCart();
        },
        methods: {
            getProducts() {
                this.isLoading = true;
                axios.get(`${url}/api/${path}/products/all`)
                    .then(res => {
                        this.isLoading = false;
                        this.products = res.data.products;
                    }).catch(error => {
                        // console.dir(error);
                        this.isLoading = false;
                        this.showSwalErr(error.response.data.message);
                    });
            },
            getHowPriceLess(origin_price, price) {
                return origin_price - price;
            },
            addCart(product_id, qty = 1) {
                if (product_id) {
                    this.isLoading = true;
                    const data = {
                        product_id,
                        qty
                    };

                    axios.post(`${url}/api/${path}/cart`, { data })
                        .then(res => {
                            this.isLoading = false;
                            swalToast.fire({
                                icon: 'success',
                                title: '已加入購物車'
                            });

                            this.getCart();
                        }).catch(error => {
                            // console.dir(error);
                            this.showSwalErr('加入購物車失敗', 'toast');
                        });
                }
            },
            getCart() {
                this.isLoading = true;
                axios.get(`${url}/api/${path}/cart`)
                    .then(res => {
                        this.isLoading = false;
                        this.cart = res.data.data;
                    }).catch(error => {
                        // console.dir(error);
                        this.showSwalErr(error.response.data.message);
                    });
            },
            changeCartItem(cartItem) {
                this.isLoading = true;
                const { id, qty, product } = cartItem;
                const data = {
                    product_id: product.id,
                    qty
                };

                axios.put(`${url}/api/${path}/cart/${id}`, { data })
                    .then(res => {
                        this.getCart();
                    }).catch(error => {
                        // console.dir(error);
                        this.showSwalErr('購物車更新失敗', 'toast');
                    });
            },
            delCart(id) {
                this.isLoading = true;
                if (id) {
                    axios.delete(`${url}/api/${path}/cart/${id}`)
                        .then(res => {
                            this.getCart();
                        }).catch(error => {
                            // console.dir(error);
                            this.showSwalErr('已刪除購物車品項', 'toast');
                        });
                } else {
                    axios.delete(`${url}/api/${path}/carts`)
                        .then(res => {
                            this.getCart();
                        }).catch(error => {
                            // console.dir(error);
                            this.showSwalErr('購物車已全部清空', 'toast');
                        });
                }
            },
            openProductModal(product) {
                this.currentProduct = { ...product };
                this.$refs.childProductModal.openProductModal();
            },
            showSwalErr(message, swalStype = 'popup') {
                this.isLoading = false;
                if (swalStype === 'popup') {
                    swalWithBootstrapButtons.fire({
                        icon: 'error',
                        title: message
                    });
                } else if (swalStype === 'toast') {
                    swalToast.fire({
                        icon: 'error',
                        title: message
                    });
                }
            },
            toggleBuyFormCollapse() {
                buyFormCollapse.toggle();
                this.showBuyFormCollapse = !this.showBuyFormCollapse;
                this.cartItemsMaxHeight.maxHeight = this.showBuyFormCollapse ? '20vh' : '80vh';
            }
        },
    });


    app.component('loading', VueLoading.Component);
    app.component('VForm', VeeValidate.Form);
    app.component('VField', VeeValidate.Field);
    app.component('ErrorMessage', VeeValidate.ErrorMessage);
    app.mount('#app');
</script>

</html>